@charset "UTF-8";

@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
.notosanskr * { 
 font-family: 'Noto Sans KR', sans-serif;
}

body{
	margin:0;
}

.main_container {
	padding : 50px;
	font-family: 'Noto Sans KR', sans-serif;
}

#member_select{
	text-align:right;
	margin-bottom : 5px;
}

#member_search {
	text-align:center;
	margin-bottom : 5px;
}

#vname {
	width : 400px;
	height : 30px;
}

#search {
	height : 28px;
}

#selectall_div {
	width : 100%;
	height : 530px;
	margin-top : 50px;
}

#member_table {
	width : 100%;
	border:none;
	text-align : center;
}

#paging_table {
	width : 100%;
	border:none;
}

#top_div {
	display: table; 
	width : 100%;
	color: #a8a8a8;
	margin-bottom : 10px;
}

a:visited, a:linked {
	color:black;
}

a {
	text-decoration:none;
}

.member_info{
	display: table; 
	width: 100%;
	cursor : pointer;
	margin-bottom : 5px;
}

.member_info:hover {
	background : #8080ff;
}

.tt{
	display: table-cell;
}

.tt1{width:15%}
.tt2{width:10%}
.tt3{width:10%}
.tt4{width:5%}
.tt5{width:10%}
.tt6{width:10%}
.tt7{width:10%}
.tt8{width:17%}
.tt9{width:8%}
.tt10{width:5%}

.MemInsertDiv1{
width : 1000px;
/*height : 800px;*/
height : 1500px;
border : 1px solid #eee;
box-shadow: 3px 3px 5px 1px rgba(0, 0, 0, .1);
margin-left : auto;
margin-right : auto;
margin-bottom : 100px;
background : #ececf6;
}
