@charset "UTF-8";

body{
	margin:0;
}

.main_container {
	padding : 50px;
}

#member_photo {
	height : 400px;
	float : left;
	margin-top : 20px;
}

#photo_box {
	width : 300px;
    border : 1px solid;
	margin : auto;
}

#photo {
	max-width:300px;
    max-height:400px;
}

#select_div {
	width: 860px;
	float:left;
	margin-left : 20px;
	margin-top : 100px;
	
}

.member_info{
	font-size : 20px;
}

.button_div {
	text-align : right;
}

.MemInsertDiv1{
width : 1000px;
/*height : 800px;*/
height : 1500px;
border : 1px solid #eee;
box-shadow: 3px 3px 5px 1px rgba(0, 0, 0, .1);
margin-left : auto;
margin-right : auto;
margin-bottom : 100px;
background : #ececf6;
}
