<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
   <typeAliases>
		<typeAlias type="main.puvg.member.vo.MemberVO" alias="membervo"/>
		<typeAlias type="main.puvg.chart.vo.MemberChartVO" alias="chartvo"/>
      
		<typeAlias type="main.puvg.approval.vo.Appr1DocVO" alias="appr1docvo"/>
		<typeAlias type="main.puvg.approval.vo.Appr2DocVO" alias="appr2docvo"/>
		<typeAlias type="main.puvg.approval.vo.Appr3DocVO" alias="appr3docvo"/>
		<typeAlias type="main.puvg.approval.vo.Appr4DocVO" alias="appr4docvo"/>
		<typeAlias type="main.puvg.approval.vo.ApprovalLineVO" alias="approvallinevo"/>
		<typeAlias type="main.puvg.approval.vo.ApprovalListVO" alias="approvallistvo"/>
		<typeAlias type="main.puvg.approval.vo.ApprovalTempVO" alias="approvaltempvo"/>
      
		<typeAlias type="main.puvg.schedule.vo.ScheduleVO" alias="schedulevo"/>
		<typeAlias type="main.puvg.schedule.vo.ScheduleMEMVO" alias="schedulememvo"/>
		<typeAlias type="main.puvg.schedule.vo.ScheduleShareVO" alias="schedulesharevo"/>
		<typeAlias type="main.puvg.schedule.vo.ScheduleCheckVO" alias="schedulecheckvo"/>
		
		<typeAlias type="main.puvg.board_booseo.vo.BoardVO" alias="boardvo"/>
		<typeAlias type="main.puvg.rpboard.vo.RpBoardVO" alias="rpboardvo"/>
		<typeAlias type="main.puvg.board_like.vo.BoardLikeVO" alias="boardlikevo"/>
   </typeAliases>
</configuration>